@{
    ViewData["Title"] = "ErrorSite";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error 404 - Página no encontrada</title>
    <style>
        body {
            background-color: #F8F8F8;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 50px;
            text-align: center;
        }

        h1 {
            font-size: 48px;
            margin-bottom: 20px;
            color: #333;
        }

        p {
            margin-bottom: 20px;
        }

        a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Error 404</h1>
        <br></br>
        <p>Lo sentimos, la página que estás buscando no se encuentra disponible.</p>
        <p>Puedes volver a la página principal haciendo clic en el siguiente botón:</p>
        <br></br>
        <p><a href="/">Volver a la página principal</a></p>
    </div>
</body>
</html>